language: groovy

deploy:
  provider: s3
  access_key_id: $ARTIFACTS_KEY
  secret_access_key: $ARTIFACTS_SECRET
  bucket: $ARTIFACTS_BUCKET
  skip_cleanup: true
  acl: public_read
  local_dir: build/libs
  upload-dir: travis-builds
  
after_success:
  gradle bintrayupload
 
branches:
  only:
    - master